<div class="content">
  <form action="/package/data/edit" method="POST">
    <div class="limit_package_page">
      <div class="package_page">
        <div class="package_create_header">
          <div class="package_create_title">
            <span>แก้ไขแพ็กเกจ</span>
          </div>
          <div class="package_create_preview">
            <a href="/package/preview?creator=<%= SESSION_USER.creator_name %>" target="_blank">ดูตัวอย่าง<i
                class="fa-regular fa-note-sticky fa-note"></i></a>
          </div>
        </div>
        <div class="package_creator_box">
          <div class="setting_grid">
            <span>ชื่อแพ็กเกจ</span>
            <input type="text" name="package_name" value="<%=packages[0].package_name%>">
          </div>
          <div class="setting_grid">
            <span>ราคารายเดือน</span>
            <div class="price-input">
              <input type="number" name="package_price" placeholder="0.00" id="price"
                value="<%=packages[0].package_price%>">
            </div>
          </div>
          <div class="setting_grid">
            <span>รายละเอียดแพ็กเกจ</span>
            <textarea name="package_desc" id="textEditor"><%- packages[0].package_desc %></textarea>
          </div>
          <input type="hidden" name="id_package" value="<%=packages[0].id%>">
          <div class="btn_submit">
            <button>แก้ไข</button>
            <a class="btn_goback_package" id="click_remove">ลบ</a>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

<script>

document.addEventListener("DOMContentLoaded", function () {
    var clickRemoveButton = document.getElementById("click_remove");
    var ConfirmPopup = document.getElementById("ConfirmPopup");
    var YesConfirmPopup = document.getElementById("YesConfirmPopup");
    var NoConfirmPopup = document.getElementById("NoConfirmPopup");
    var XmarkClose = document.getElementById("XmarkClose");

    clickRemoveButton.addEventListener("click", function () {
      ConfirmPopup.classList.add('show_popup');
    });

    YesConfirmPopup.addEventListener("click", function () {
      // Redirect to the specified URL
      var id = "<%=packages[0].id%>";
      window.location.href = "/package/delete?id=" + id;
    });

    NoConfirmPopup.addEventListener("click", function () {
      // Hide the popup
      ConfirmPopup.classList.remove('show_popup');
    });

    XmarkClose.addEventListener("click", function () {
      // Hide the popup
      ConfirmPopup.classList.remove('show_popup');
    });

    document.addEventListener("click", function (event) {
      // Check if the target is not within the .pop_up element
      if (!ConfirmPopup.querySelector(".pop_up").contains(event.target) && event.target !== clickRemoveButton) {
        ConfirmPopup.classList.remove('show_popup');
      }
    });
  });

  document.getElementById('backButton').addEventListener('click', function () {
    window.history.back();
  });

  const priceInput = document.getElementById('price');

  priceInput.addEventListener('blur', function () {
    const inputValue = parseFloat(this.value);
    if (!isNaN(inputValue)) {
      this.value = inputValue.toFixed(2);
    }
  });

</script>