<div class="content">
  <div class="container_dashboard">
    <div class="page_dashboard">
      <div class="header_dashboard">
        <div class="title_dashboard">
          <i class="fa-solid fa-gauge icon_dashboard"></i>
          <h1>Dashboard</h1>
        </div>
      </div>

      <div class="header_data_box">
        <div class="header_content">
          <h1>สมาชิก</h1>
          <i class="fa-solid fa-users header_icon"></i>
        </div>
        <hr>
      </div>

      <div class="header_data_dashboard">

        <a href="/admin/members" class="data_box">
          <h2>บัญชี</h2>
          <span class="data_form">
            <%= users.length %>
          </span>
          <span class="data_suffix">บัญชี</span>
        </a>
        <a href="/admin/members/creator" class="data_box">
          <h2>คริเอเตอร์</h2>
          <span class="data_form">
            <%= creators.length %>
          </span>
          <span class="data_suffix">คริเอเตอร์</span>
        </a>
        <a href="/admin/members/reg_creator" class="data_box">
          <h2>รอตรวจสอบ</h2>
          <span class="data_form">
            <%= creator_regs.length %>
          </span>
          <span class="data_suffix">บัญชี</span>
        </a>

      </div>

      <div class="header_data_box">
        <div class="header_content">
          <h1>รายงาน</h1>
          <i class="fa-solid fa-chart-simple header_icon"></i>
        </div>
        <hr>
      </div>

      <div class="header_data_dashboard">

        <a href="" class="data_box">
          <h2>สมาชิกรายเดือน</h2>
          <span class="data_form">
            <%= members.length %>
          </span>
          <span class="data_suffix">บัญชี</span>
        </a>
        <a href="" class="data_box">
          <h2>สมาชิกที่ใช้งาน</h2>
          <span class="data_form">
            <%= all_active.length %>
          </span>
          <span class="data_suffix">บัญชี</span>
        </a>
        <a href="" class="data_box">
          <h2>สมาชิกที่ยกเลิก</h2>
          <span class="data_form">
            <%= all_cancel.length %>
          </span>
          <span class="data_suffix">บัญชี</span>
        </a>
        <a href="" class="data_box">
          <h2>สมาชิกรอดำเนินการ</h2>
          <span class="data_form">
            <%= all_pendding.length %>
          </span>
          <span class="data_suffix">บัญชี</span>
        </a>

      </div>

      <div class="graph_report">

        <div class="container_graph">
          <canvas id="incomeChart"></canvas>
        </div>
        <div class="box_graph">

          <div class="container_income_octagram">
            <div class="header_income_octagram">
              <span>รายได้เดือนนี้</span>
            </div>
            <div class="content_income_octagram">
              <span>฿</span>
              <span id="income_now"></span>
            </div>
          </div>

          <div class="container_member_dashboard">
            <div class="header_member_dashboard">
              <h1>การสมัครล่าสุด</h1>
            </div>
            <div class="cotent_member_dashboard">
              <% for(var i=0; i < 3; i++) { %>
                <div class="member_box_dashboard">
                  <div class="member_user_dashboard">
                    <img src="<%= member_dashboard[i].user_img %>" alt="user">
                  </div>
                  <div class="member_package_dashboard">
                    <span>เข้าร่วม</span>
                    <span>
                      <%= member_dashboard[i].package_name %>
                    </span>
                    <span>ของ</span>
                  </div>
                  <div class="member_creator_dashboard">
                    <img src="<%= member_dashboard[i].creator_img %>" alt="user">
                  </div>
                </div>
                <% } %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<script>
  window.onload = async function () {
    const response = await fetch('/income/octagram');
    incomelist = await response.json();

    const monthsData = [
      { month: 'ม.ค.', income: 0 },
      { month: 'ก.พ.', income: 0 },
      { month: 'มี.ค.', income: 0 },
      { month: 'เม.ย.', income: 0 },
      { month: 'พ.ค.', income: 0 },
      { month: 'มิ.ย.', income: 0 },
      { month: 'ก.ค.', income: 0 },
      { month: 'ส.ค.', income: 0 },
      { month: 'ก.ย.', income: 0 },
      { month: 'ต.ค.', income: 0 },
      { month: 'พ.ย.', income: 0 },
      { month: 'ธ.ค.', income: 0 },
    ];

    incomelist.forEach(item => {
      const date = new Date(item.date_income);
      const month = date.getMonth();
      monthsData[month].income += item.income;
    });

    const ctx = document.getElementById('incomeChart').getContext('2d');

    const labels = monthsData.map(item => item.month);
    const data = monthsData.map(item => item.income);

    const config = {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: 'รายได้',
          data: data,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: 'รายได้ (บาท)'
            }
          },
          x: {
            title: {
              display: true,
              text: 'เดือน'
            }
          }
        }
      }
    };

    const myChart = new Chart(ctx, config);

    // หาว่านี้เดือนปัจจุบันคือเดือนที่เท่าไหร่
    const today = new Date();
    const currentMonth = today.getMonth();

    // คำนวณรายได้ของเดือนปัจจุบัน
    const currentMonthIncome = monthsData[currentMonth].income;

    // นำรายได้ของเดือนปัจจุบันไปแสดงใน HTML
    const incomeNowElement = document.getElementById('income_now');
    incomeNowElement.textContent = `${currentMonthIncome}`;
  }
</script>