<div class="content">
    <div class="container_feed">
        <div class="feed">
            <div class="header_feed">
                <div class="title_feed left">
                    <span>หน้าหลัก</span>
                </div>
                <div class="filter_feed right">
                    <i class="fa-solid fa-filter"></i>
                </div>
            </div>
            <div class="content_feed_home">
                <% if (posts.length > 0) { %>
                <% for(var i=0; i < posts.length; i++) { %>
                <div class="box_feed">
                    <div class="header_creator_feed">
                        <div class="creator_feed_home left">
                            <img src="<%= posts[i].img %>">
                            <div class="creator_info">
                                <span class="post_creator_name">
                                    <%= posts[i].creator_name %>
                                  </span>
                                <span class="post_time_feed_home">4 DAYS AGO AT 10:58 AM</span>
                            </div>
                        </div>
                        <div class="tooltip right">
                            <i id="tooltip_click" class="material-icons">more_horiz</i>
                        </div>
                    </div>
                    <hr>
                    <div class="post_feed">
                        <% if (!posts[i].post_img) { %>

                            <% } else { %>
                              <div class="post_img_feed">
                                <img src="<%= posts[i].post_img %>" id="zoomable-image">
                              </div>
                              <% } %>
                        <div class="post_title_feed">
                            <span>
                              <%= posts[i].post_title %>
                            </span>
                          </div>
                          <div class="post_desc_feed">
                            <%- posts[i].post_desc %>
                          </div>
                    </div>
                </div>
                <% } %>
                <div class="limit_post">
                    <span>สิ้นสุดเนื้อหา</span>
                </div>

                <% } else { %>
                <div class="no_post_feed">
                    <img src="/img/find_creator.png" alt="">
                    <span>ไม่มีเนื้อหา</span>
                </div>
                <% } %>

            </div>
        </div>
    </div>
</div>
