<div class="content">
  <div class="limit_member_page">
    <div class="member_page">
      <%- include('./navbar.ejs')%>
        <table>
          <thead>
            <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Email</th>
              <th>Current Tier</th>
              <th>Status</th>
              <th>Join Date</th>
              <th>Last Charge Date</th>
              <th>Next Charge Date</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i=0; i < data.length; i++) { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].email %></td>
                <td><%= data[i].currentTier %></td>
                <td class="<%= data[i].status.toLowerCase() %>"><%= data[i].status %></td>
                <td><%= data[i].joinDate %></td>
                <td><%= data[i].lastChargeDate %></td>
                <td><%= data[i].nextChargeDate %></td>
            </tr>
            <% } %>
        </tbody>
        </table>
        <div id="pagination">
          <button id="prevBtn">Previous</button>
          <button id="nextBtn">Next</button>
        </div>
    </div>
  </div>
</div>
</div>

<script>

</script>
