<div class="content">
  <div class="creator_page">
    <div class="bg_creator">
    </div>
    <div class="limit_creator_profile">
      <div class="creator_profile">
        <div class="creator_content">
          <img src="<%= creators[0].img %>" alt="">
          <div class="creator_detail">
            <span class="creators_name">
              <%= creators[0].creator_name %>
            </span>
            <span class="creators_desc">
              <%= creators[0].creator_desc.length > 50 ? creators[0].creator_desc.slice(0, 50) + '...' : creators[0].creator_desc %>
            </span>
            <p>
              <%= members_all.length %> Members <%= posts_all.length %> Posts
            </p>
          </div>
        </div>
        <div class="post">
          <% if (!checks) { %>
            <a href="/<%= creators[0].creator_name %>/packages?id_creator=<%= creators[0].id %>" class="btn_sub_creator">สมัคร</a>
            <% } else { %>
              <a href="/<%= creators[0].creator_name %>/packages?id_creator=<%= creators[0].id %>" class="btn_sub_update">อัพเดท</a>
              <% } %>
                <i id="tooltip_creator" class="material-icons">more_horiz</i>
        </div>
      </div>
    </div>

    <div class="limit_navbar">
      <%- include('./navbar.ejs')%>
    </div>

    <div class="content_about_limit">
      <div class="content_about">
        <div class="container_category">
          <div class="header_category">
            <h1>หมวดหมู่</h1>
          </div>
          <hr>
          <div class="list_category">
            <% for(var i=0; i < categories.length; i++) { %>
              <span class="item_cateogry">
                <%= categories[i].category_name %>
              </span>
              <% } %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>