<div class="content_category">
    <div class="container_search_category">
        <div class="limit_search_category">
            <div class="header_search_category">
                <span>หมวดหมู่คริเอเตอร์</span>
            </div>

            <div class="search_list_category">
                <% for(var i=0; i < categories.length; i++) { %>
                    <a href="/category/name?name=<%= categories[i].category_name %>&id_category=<%= categories[i].id %>"
                        class="list_item_cateogry">
                        <%= categories[i].category_name %>
                    </a>
                    <% } %>
            </div>
            <div class="container_creator_category">
                <h1> <%= placeholder %>
                </h1>
                <div class="creator_cate_list">
                    <% for(var i=0; i < cate_creator.length; i++) { %>
                        <a href="/<%= cate_creator[i].creator_name %>/look" class="creator_cate_box">
                            <div class="creator_cate_img">
                                <img src="<%= cate_creator[i].img %>" alt="creator_profile">
                            </div>
                            <div class="creator_cate_info">
                                <span class="creator_name_cate"><%= cate_creator[i].creator_name %></span>
                                <span class="creator_desc_cate"><%=cate_creator[i].creator_desc.length > 50 ? cate_creator[i].creator_desc.slice(0, 50) + '...' : cate_creator[i].creator_desc %></span>
                            </div>
                        </a>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function clearSearchInput() {
        var searchInput = document.getElementById("autosearch");
        var clearIcon = document.querySelector(".x_icon");
        var search_content = document.getElementById("search_content");
        search_content.classList.remove("show_content");
        searchInput.value = ""; // Clear the input value
        clearIcon.style.display = "none";
    }

    function toggleClearIcon() {
        var searchInput = document.getElementById("autosearch");
        var clearIcon = document.querySelector(".x_icon");

        if (searchInput.value.trim() !== "") {
            clearIcon.style.display = "inline";
        } else {
            clearIcon.style.display = "none";
        }
    }

    // Call toggleClearIcon initially and add input event listener
    toggleClearIcon();
    document.getElementById("autosearch").addEventListener("input", toggleClearIcon);


</script>